
header {
    flex-shrink: 0;
    padding: 10px 10px 0 10px;
}

header .title {
    font-weight: bold;
    font-size: 1.25rem;
}

h3 {
    margin: 10px 0 10px 0;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: normal;
}

/* Utilities */

.font-normal {
    font-weight: normal;
}

pre {
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.center {
    justify-self: center;
}

.centerV {
    align-self: center;
}

.space-between {
    justify-content: space-between;
}

.stretch {
    align-content: stretch;
}

.self-justify-center {
    justify-self: center;
}

.self-justify-end {
    justify-self: end;
}

.align-end {
    text-align: end;
}

.align-right {
    text-align: right;
}

.grid1x3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
